* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.header--3v_A5UxgQq {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  font-size: 30px;
  color: #232728;
  text-transform: uppercase;
  background: #f9f9f9;
  border-bottom: 1px solid #ccd4d9;
  padding-left: 30px;
  box-shadow: 0 0 5px 0 #ccd4d9;
  z-index: 10; }
  @media only screen and (min-width: 821px) and (max-width: 1023px) {
    .header--3v_A5UxgQq {
      padding-left: 20px; } }
  @media only screen and (max-width: 414px) {
    .header--3v_A5UxgQq {
      padding-left: 0;
      justify-content: center; } }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.app-router--2M-3WrIkj9 {
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
  padding: 0 35px; }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.detail--3OKyi4Dtql {
  padding: 20px 0 10px;
  font-size: 30px; }

.detail--2zJpkK_6ZI {
  display: flex;
  padding: 0 20px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccd4d9; }
  .detail--2zJpkK_6ZI > span {
    padding-right: 20px; }
    .detail--2zJpkK_6ZI > span:last-child {
      padding: 0; }
  @media only screen and (max-width: 414px) {
    .detail--2zJpkK_6ZI {
      padding: 0 0 10px;
      margin-bottom: 10px; } }

.detail--YfijkWBq1o {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (min-width: 414px) and (max-width: 820px) {
    .detail--YfijkWBq1o {
      justify-content: center; } }
  @media only screen and (max-width: 414px) {
    .detail--YfijkWBq1o {
      justify-content: center; } }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.photo--2AIDAuntAO {
  padding-bottom: 20px; }
  @media only screen and (min-width: 414px) and (max-width: 820px) {
    .photo--2AIDAuntAO {
      width: 100%; } }
  @media only screen and (max-width: 414px) {
    .photo--2AIDAuntAO {
      width: 100%; } }
  .photo--2AIDAuntAO .photo--qzLQeqPt7y {
    height: 420px;
    box-shadow: 0 0 3px 0 rgba(99, 107, 116, 0.5);
    background-color: rgba(249, 249, 249, 0.3); }
    .photo--2AIDAuntAO .photo--qzLQeqPt7y > div {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    @media only screen and (min-width: 414px) and (max-width: 820px) {
      .photo--2AIDAuntAO .photo--qzLQeqPt7y {
        height: 350px; } }
    @media only screen and (max-width: 414px) {
      .photo--2AIDAuntAO .photo--qzLQeqPt7y {
        height: 220px; } }
  .photo--2AIDAuntAO .photo--vE-lzMjeLH {
    display: flex;
    justify-content: center;
    color: #636b74;
    font-size: 12px; }
    @media only screen and (min-width: 414px) and (max-width: 820px) {
      .photo--2AIDAuntAO .photo--vE-lzMjeLH {
        justify-content: flex-end; } }
    @media only screen and (max-width: 414px) {
      .photo--2AIDAuntAO .photo--vE-lzMjeLH {
        justify-content: flex-end; } }

.photo--Co6WLwcM6z {
  min-width: 49%; }

.photo--kfkTHfsMUj {
  min-width: 100%; }
  .photo--kfkTHfsMUj .photo--qzLQeqPt7y {
    height: 750px; }
    @media only screen and (min-width: 821px) and (max-width: 1023px) {
      .photo--kfkTHfsMUj .photo--qzLQeqPt7y {
        height: 600px; } }
    @media only screen and (min-width: 414px) and (max-width: 820px) {
      .photo--kfkTHfsMUj .photo--qzLQeqPt7y {
        height: 350px; } }
    @media only screen and (max-width: 414px) {
      .photo--kfkTHfsMUj .photo--qzLQeqPt7y {
        height: 220px; } }

.description--umsNWXUaKO {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 25px 20px; }
  .description--umsNWXUaKO span {
    padding-top: 10px; }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.goBack--1ize1QX40c {
  float: left;
  padding: 20px 0; }
  .goBack--1ize1QX40c:hover {
    cursor: pointer;
    color: #636b74; }
  @media only screen and (min-width: 414px) and (max-width: 820px) {
    .goBack--1ize1QX40c {
      padding: 10px 0; } }
  @media only screen and (max-width: 414px) {
    .goBack--1ize1QX40c {
      padding: 10px 0; } }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.home--2k3mk4Q0sj .home--2QpJ7RviZA {
  display: flex;
  flex-wrap: wrap; }

.home--1pIZKq0HEJ {
  float: right;
  padding: 20px 30px 20px 0; }
  @media only screen and (min-width: 414px) and (max-width: 820px) {
    .home--1pIZKq0HEJ {
      padding: 10px 30px 10px 0; } }
  @media only screen and (max-width: 414px) {
    .home--1pIZKq0HEJ {
      padding: 10px 30px 10px 0; } }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.photo-palette--1svC845o-l {
  min-width: 45%;
  box-shadow: 0 0 2px 0 #b9c8d5;
  font-size: 20px;
  margin: 10px;
  background-position: center; }
  @media only screen and (min-width: 414px) and (max-width: 820px) {
    .photo-palette--1svC845o-l {
      min-width: 95%; } }
  @media only screen and (max-width: 414px) {
    .photo-palette--1svC845o-l {
      min-width: 95%; } }
  .photo-palette--1svC845o-l .photo-palette--3L3EcP7EUp {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    @media only screen and (min-width: 414px) and (max-width: 820px) {
      .photo-palette--1svC845o-l .photo-palette--3L3EcP7EUp {
        height: 270px; } }
    @media only screen and (max-width: 414px) {
      .photo-palette--1svC845o-l .photo-palette--3L3EcP7EUp {
        height: 200px; } }
  .photo-palette--1svC845o-l .photo-palette--3koGzdhYCt {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(249, 249, 249, 0.8);
    color: #232728;
    font-size: 20px; }
  .photo-palette--1svC845o-l:hover {
    cursor: pointer; }
    .photo-palette--1svC845o-l:hover .photo-palette--3L3EcP7EUp {
      opacity: 0.3; }
    .photo-palette--1svC845o-l:hover .photo-palette--3koGzdhYCt {
      color: #636b74; }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.list--TOfUe_ojVk {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media only screen and (min-width: 1024px) {
    .list--TOfUe_ojVk {
      flex-wrap: wrap;
      flex-direction: row; } }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

.listItem--_kRwBvGyc6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0;
  width: 100%;
  border-bottom: 1px solid rgba(99, 107, 116, 0.2); }
  @media only screen and (min-width: 1024px) {
    .listItem--_kRwBvGyc6 {
      width: 48%; } }
  @media only screen and (min-width: 414px) and (max-width: 820px) {
    .listItem--_kRwBvGyc6 {
      display: block; } }
  @media only screen and (max-width: 414px) {
    .listItem--_kRwBvGyc6 {
      display: block; } }
  .listItem--3pMLcVZKx2 {
    font-size: 25px; }
    @media only screen and (min-width: 1024px) {
      .listItem--3pMLcVZKx2 {
        min-width: 60%; } }
  .listItem--b_J1_ltaDv {
    font-size: 12px;
    color: rgba(99, 107, 116, 0.5);
    text-align: right; }
    @media only screen and (min-width: 1024px) {
      .listItem--b_J1_ltaDv {
        color: #636b74; } }

* {
  font-family: 'Cinzel', 'Cormorant Unicase', sans-serif; }

html {
  height: 100%; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-size: 14px;
  color: #232728;
  background: #ffffff; }

a {
  text-decoration: none;
  color: #232728; }
  a:hover {
    color: #636b74; }

@font-face {
  font-family: 'Cinzel';
  src: url(/fonts/6d07d5af7e6514ae79ad059a9f9bce5e.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cormorant Unicase';
  src: url(/fonts/f9296f5cb962304d6f1132996d3cf9b2.ttf);
  font-weight: normal;
  font-style: normal; }

